.DS_Store
Thumbs.db
.idea
*.swp
*.swo
*.swn
*.bak
*.tmp
.idea/
.vscode/
node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
.cache/

*.min.css
*.min.js
*.map

*.cache
*.pid


*.sublime-project
*.sublime-workspace